@charset "utf-8";
/* CSS Document */
body {
	background-image: url("../image/common/cat-background-1.jpg") !important;
	background-color: #ffffff;
	min-width: 1000px;
	min-height: 600px;
}

/* header */
.top-color {
	width: 100%
}

.top-color {
	background: #FF0000;
	height: 10px;
}


.header {
	background: rgba(255, 255, 255, 0.4);
	width: 100%;
}

.head-outer {
	padding-left: 0px !important;
}

.head-bar {
	width: 100%;
	float: right;
	background: rgba(255, 255, 255, 0.6);
}

.head-bar ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.head-bar ul li {
	float: right;
	display: block;
	position: relative;
	width: 15%;
}

.head-bar ul li a {
	color: #000000;
	display: block;
	font-size: 16px;
	padding: 5px 5px;
	text-decoration: none;
	text-align: center;
	height: 65px;
	line-height: 55px;
}

.head-bar ul li a:hover {
	background: #FF0000;
}

.head-bar ul>li>ul {
	display: none;
}

.head-bar ul>li:hover>ul {
	display: block;
	position: absolute;
}

.head-bar ul>li:hover>li {
	float: none;
}

.menu {
	width: 100%;
}

.menu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.menu ul li {
	float: left;
	display: block;
	position: relative;
	width: 20%;
}

.menu ul li .submenu {
	display: block;
	position: relative;
	width: 100%;
}

.menu ul li a {
	background: #000;
	color: #FFF;
	display: block;
	font-size: 16px;
	padding: 10px 40px;
	text-decoration: none;
	text-align: center;
}

.menu ul li a:hover {
	background: #FF0000;
}

.menu ul>li>ul {
	display: none;
	z-index: 10;
}

.menu ul>li:hover>ul {
	display: block;
	position: absolute;
}

.menu ul>li:hover>li {
	float: none;
}

/********************************************************************/
/*** PANEL SUCCESS ***/
.with-nav-tabs.panel-success .nav-tabs > li > a,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
	color: #3c763d;
}
.with-nav-tabs.panel-success .nav-tabs > .open > a,
.with-nav-tabs.panel-success .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-success .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
	color: #3c763d;
	background-color: #d6e9c6;
	border-color: transparent;
}
.with-nav-tabs.panel-success .nav-tabs > li.active > a,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:focus {
	color: #3c763d;
	background-color: #fff;
	border-color: #d6e9c6;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #3c763d;   
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #d6e9c6;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #3c763d;
}

/********************************************************************/
/* footer */
.footer-top-layout {
	padding-bottom: 32px;
	padding-top: 32px;
	text-align: center;
	background: rgba(34, 34, 34, 0.3);
	width: 100%;
}

.footer-top-layout p {
	color: #888888;
}

.post-blog-date::after {
	background: #ffffff none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 4px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	width: 50px;
}

.post-blog-date {
	padding-bottom: 25px;
	position: relative;
}

.footer-top-layout h4 {
	color: #333333;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	line-height: 1.1;
	margin-top: 0;
}

.footer-bottom-layout {
	background: #222222 none repeat scroll 0 0;
	padding: 20px 0;
	text-align: center;
}

.footer-bottom-layout {
	text-align: center;
}

.card {
	perspective: 2090px;
	position: relative;
	transform-style: preserve-3d;
    width: 200px;
    height: 144px;
    margin: 10px;
}

.front .back {
    backface-visibility: hidden;
    transform-style: preserve-3d;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease-out;
    transform: rotateY(0deg);
}

.back {
	text-align: center;
	line-height: 144px;
	font-family: "Segoe UI";
	font-size: 22px;
	font-weight: 700;
	color: #000;
	height: 40px;
	background-image: url("../image/common/cat-background-5.jpg") !important;
}

.card img {
    width: 100%;
    height: 100%;
}

.match-image {
	width: 155px;
	height: 144px;
}

.listen-image {
	width: 155px;
	height: 144px;
	margin-top: 20px;
}

.listen-image  img {
	width: 100%;
	height: 100%;
}
.match-image img {
	width: 100%;
	height: 100%;
}

#tab1success ul {
	-webkit-columns: 4;
}

.image-label {
	background-color: rgba(0, 0, 0, 0.3);
	font-size: 16px;
	width: 155px;
	height: 30px;
	position:absolute;
}
