@charset "utf-8";
/* CSS Document */

/* header */
.top-color {
	width: 100%
}

.top-color {
	background: #FF0000;
	height: 10px;
}


.header {
	background: rgba(255, 255, 255, 0.4);
	width: 100%;
}

.head-outer {
	padding-left: 0px !important;
}

.head-bar {
	width: 100%;
	float: right;
	background: rgba(255, 255, 255, 0.6);
}

.head-bar ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.head-bar ul li {
	float: right;
	display: block;
	position: relative;
	width: 15%;
}

.head-bar ul li a {
	color: #000000;
	display: block;
	font-size: 16px;
	padding: 5px 5px;
	text-decoration: none;
	text-align: center;
	height: 65px;
	line-height: 55px;
}

.head-bar ul li a:hover {
	background: #FF0000;
}

.head-bar ul>li>ul {
	display: none;
}

.head-bar ul>li:hover>ul {
	display: block;
	position: absolute;
}

.head-bar ul>li:hover>li {
	float: none;
}

.menu {
	width: 100%;
}

.menu ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.menu ul li {
	float: left;
	display: block;
	position: relative;
	width: 20%;
}

.menu ul li .submenu {
	display: block;
	position: relative;
	width: 100%;
}

.menu ul li a {
	background: #000;
	color: #FFF;
	display: block;
	font-size: 16px;
	padding: 10px 40px;
	text-decoration: none;
	text-align: center;
}

.menu ul li a:hover {
	background: #FF0000;
}

.menu ul>li>ul {
	display: none;
	z-index: 10;
}

.menu ul>li:hover>ul {
	display: block;
	position: absolute;
}

.menu ul>li:hover>li {
	float: none;
}

/********************************************************************/
/*** PANEL SUCCESS ***/
.with-nav-tabs.panel-success .nav-tabs > li > a,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
	color: #3c763d;
}
.with-nav-tabs.panel-success .nav-tabs > .open > a,
.with-nav-tabs.panel-success .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-success .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-success .nav-tabs > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li > a:focus {
	color: #3c763d;
	background-color: #d6e9c6;
	border-color: transparent;
}
.with-nav-tabs.panel-success .nav-tabs > li.active > a,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.active > a:focus {
	color: #3c763d;
	background-color: #fff;
	border-color: #d6e9c6;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #3c763d;   
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
    background-color: #d6e9c6;
}
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-success .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
    color: #fff;
    background-color: #3c763d;
}

/********************************************************************/
/* footer */
.footer-top-layout {
	padding-bottom: 32px;
	padding-top: 32px;
	text-align: center;
	background: rgba(34, 34, 34, 0.3);
	width: 100%;
}

.footer-top-layout p {
	color: #fff;
}

.post-blog-date::after {
	background: #ffffff none repeat scroll 0 0;
	bottom: 0;
	content: "";
	height: 4px;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	width: 50px;
}

.post-blog-date {
	padding-bottom: 25px;
	position: relative;
}

.footer-top-layout h4 {
	color: #ffffff;
	font-family: "Roboto", sans-serif;
	font-weight: 500;
	line-height: 1.1;
	margin-top: 0;
}

.footer-bottom-layout {
	background: #222222 none repeat scroll 0 0;
	padding: 20px 0;
	text-align: center;
}

.footer-bottom-layout {
	text-align: center;
}

.card {
	perspective: 2090px;
	position: relative;
	transform-style: preserve-3d;
    width: 200px;
    height: 144px;
    margin: 10px;
}

.front .back {
    backface-visibility: hidden;
    transform-style: preserve-3d;
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    transition: all 0.5s ease-out;
    transform: rotateY(0deg);
}

.back {
	text-align: center;
	line-height: 144px;
	font-family: "Segoe UI";
	font-size: 22px;
	font-weight: 700;
	color: #000;
	height: 40px;
	background-image: url("../image/common/cat-background-5.jpg") !important;
}

.card img {
    width: 100%;
    height: 100%;
}

.match-image {
	width: 155px;
	height: 144px;
}

.listen-image {
	width: 155px;
	height: 144px;
	margin-top: 20px;
}

.listen-image  img {
	width: 100%;
	height: 100%;
}
.match-image img {
	width: 100%;
	height: 100%;
}

#tab1success ul {
	-webkit-columns: 4;
}

.image-label {
	background-color: rgba(0, 0, 0, 0.3);
	font-size: 16px;
	width: 155px;
	height: 30px;
	position:absolute;
}

.copyright-tag {
	color: #ffffff;
}

body {
    font-family: "Segoe UI", "Arial" !important;
}

.download-item-detail-wrapper {
    width: 33.333333%;
    float: left;
    padding-left: 20px;
    box-sizing: border-box !important;
    margin-bottom: 20px;
}

.download-list-box {
    margin-bottom: -20px;
}

.download-item-detail-box {
    box-shadow: 0px 0px 6px #D0D0D0;
    display: block;
}

.download-item-detail-img {
    width: 100%;
    transition: transform 1s;
}

.download-item-detail {
    background: #fff;
    padding: 10px 15px 0px;
    text-decoration: none;
    min-height: 95px;
}

.download-item-detail-title {
    color: #B00000;
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
}

.download-item-detail-type {
    font-size: 13px;
    line-height: 24px;
    color: #6f6f6f;
    margin-bottom: 0px;
}

.download-item-detail-box:hover {
    text-decoration: none !important;
}

.download-item-detail-img-box {
    overflow: hidden;
}

.download-item-detail-box:hover .download-item-detail-img {
    transform: scale(1.3);
}

.front-menu-item a:hover {
    text-decoration: none !important;
}

#front-bluebar-user-space-box {
    padding-top: 12px;
}

#header-box {
    padding-bottom: 20px;
}

#header-page {
    background: #FEEFDC;
    /*height: 220px;*/
    position: relative;
}

#header-page img {
    width: 100%;
}

.header-page-content {
    position: absolute;
    top: 30px;
    bottom: 40px;
    left: 330px;
    right: 40px;
    text-align: center;
}

.header-page-content h1 {
    font-family: AvenirNext-Bold;
    color: #FC4E41;
    font-size: 32px;
    line-height: 48px;
    font-weight: bold;
}

.header-page-content h5 {
    font-family: AvenirNext-Bold;
    font-size: 20px;
    line-height: 32px;
    color: #3c3c3c;
    margin-top: 0px; 
}

.header-page-content p {
    font-size: 14px;
    line-height: 24px;
}

.header-page-thumbnail {
    height: 100%;
}

.featured-box {
    display: flex;
    margin: 20px -20px 0px 0px;
}

.featured-item {
    width: 35%;
    margin-right: 20px;
    box-shadow: 0px 0px 6px #D0D0D0;
}

.featured-item:hover {
    text-decoration: none !important;
}

.featured-item-thumbnail {
    overflow: hidden;
}

.featured-item:hover .featured-item-thumbnail img {
    transform: scale(1.2);
}

.featured-item img {
    width: 100%;
    transition: transform 1s;
}

.featured-item-content {
    padding: 0px 15px;
}

.featured-item-content h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
    color: #000;
}

.featured-item-content p {
    font-size: 13px;
    line-height: 24px;
    color: #4C4C4C;
}

#search-box {
    display: table;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 30px 20px;
}

.search-category-box {
    width: 306px;
    box-sizing: border-box;
    display: table-cell;
    vertical-align: top;
}

#dropdownMenu1 {
    padding: 3px 12px;
    line-height: 28px;
    width: 100%;
    text-align: left;
    box-sizing: border-box !important;
}

.dropdown-menu {
    right: 0;
}

.caret-box {
    display: inline-block;
    box-sizing: border-box;
    border-left: 2px solid #D8D8D8;
    padding-left: 12px;
    float: right;
}

#keyword {
    box-sizing: border-box !important;
    padding: 17px 14px;
}

.search-keyword-box {
    padding-left: 20px;
    display: table-cell;
    position: relative;
}

.search-icon-box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 14px;
    background: #1DAFEC;
    padding: 9px 12px 0px;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.search-icon-box i {
    color: #fff;
    font-size: 18px;
}

#main-content-box {
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    padding: 20px;
    display: table;
}

.navbar-left-wrapper {
    padding: 20px;
    display: table-cell;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 6px #D0D0D0;
    width: 306px;
    box-sizing: border-box !important;
    vertical-align: top;
}

.navbar-left-box:first-child {
    border-bottom: 1px solid #D8D8D8;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.navbar-title {
    font-size: 16px;
    line-height: 24px;
    padding: 10px 0px 15px;
    font-weight: bold;
}

.navbar-list-item {
    font-size: 14px;
    line-height: 32px;
    text-decoration: none;
    display: block;
    color: #028FCA;
}

.main-content-right-box {
    display: table-cell;
}

.download-breadscumb {
    padding: 10px 0px 20px;
}

.download-breadscumb .title {
    font-size: 20px;
    line-height: 32px;
    padding-bottom: 7px;
}

.home-page {
    color: #107BBF;
}

.breadscumb-description {
    font-size: 13px;
    line-height: 24px;
    color: #4c4c4c;
}

#download-pagination-box {
    width: 100%;
    display: table;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px 20px 40px;
}

.download-pagination {
    display: table-cell;
    width: 306px;
}

#download-pagination {
    display: table-cell;
    text-align: center;
}

.download-list-block {
    display: inline-flex;
}

#front-content-box {
    margin-top: 20px;
}

#front-bluebar-user-space {
    padding-top: 11px;
}

#front-menu {
    display: none;
}

#header-box {
    position: relative;
}

#header-box img {
    width: 100%;
}

.header-content-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-sizing: border-box;
}

.header-content-box {
    width: 735px;
    height: 310px;
    border: 2px solid #fff;
    box-sizing: border-box;
    margin: 50px auto;
    border-radius: 8px;
    padding: 10px;
}

.header-content {
    border-radius: 8px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.9);
    padding: 30px 20px;
    height: 100%;
    text-align: center;
}

.header-content-title {
    font-size: 28px;
    line-height: 40px;
    text-transform: uppercase;
    font-family: AvenirNext-Bold;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 15px;
}

.header-content p {
    font-size: 16px;
    line-height: 28px;
    font-family: AvenirNext-Regular;
}

.global-green-button {
    background: #1AAF6E !important;
    border-radius: 3px;
    text-transform: none !important;
    font-size: 18px !important;
    margin-top: 10px;
}

.global-green-button:hover,
.global-green-button:focus {
    background: #006c28 !important;
    text-decoration: none !important;
    color: #fff !important;
}

.content-box {
    padding: 1px 140px 20px;
}

.content-box h2 {
    text-align: center;
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    margin-top: 45px;
    margin-bottom: 20px;
}

.content-box p,
.content-box li {
    line-height: 24px;
    font-size: 13px;
    text-align: justify;
}

.download-content {
    background: #028FCA;
    /*margin: 0px;*/
    color: #fff;
}

.download-content * {
    color: #fff !important;
}

.download-content ul {
    padding: 20px;
    list-style: none;
}

.download-content li {
    min-height: 90px;
    padding-left: 45px;
    position: relative;
    text-align: left;
}

.download-content li i {
    position: absolute;
    left: 15px;
    font-size: 22px;
    top: 6px;
}

#download-screenshots {
    padding-bottom: 50px;
}

#download-screenshots p {
    text-align: center;
    margin-bottom: 40px;
    color: #3c3c3c;
    margin-top: -15px;
}

#download-form-box {
    background: #F6F6F6;
    padding-bottom: 40px;
}

.download-form {
    width: 450px;
    margin: auto;
}

#is_need_support {
    display: none;
}

#panoram {
    height: 118px;
    background: url('../../../img/global/download/panoram.png') repeat-x;
}

#panoram2 {
    height: 150px;
    background: url('../../../img/global/download/panoram2.png') repeat-x;
}

#success-box {
    text-align: center;
    padding: 70px 0px 0px;
}

#success-box p {
    font-size: 16px;
    line-height: 32px;
    margin-bottom: 0px;
}

.download-title {
    color: #107BBF;
}

.download-link-btn {
    background-color: #FC4E41 !important;
    border-radius: 4px !important;
    text-transform: none !important;
    padding-right: 40px !important;
    padding-left: 40px !important;
    margin-top: 15px !important;
}

.download-link-btn:hover,
.download-link-btn:focus {
    text-decoration: none !important;
    color: #fff !important;
}

#intro-box {
    margin-top: 40px;
}

#intro-box p {
    color: #4C4C4C;
}

#intro-box h2 {
    margin: 0px;
}

#intro-box h2 span {
    color: #F83533;
    text-decoration: underline;
}

.intro-description {
    margin-top: 10px;
    text-align: center !important;
    font-size: 13px;
    line-height: 24px;
}

.item-icon {
    text-align: center;
    margin-top: 35px;
}

.item-icon img {
    width: 64px;
}

.item-title {
    font-size: 14px;
    line-height: 28px;
    margin-bottom: 5px;
    margin-top: 15px;
}

.item-summary {
    font-size: 13px;
    line-height: 24px;
    color: #4C4C4C;
}

#download-document {
    padding-bottom: 60px;
}

#download-document h2 {
    margin-bottom: 30px;
}

#download-document .carousel {
    width: 600px;
    margin: auto;
}

#login-box {
    text-align: center;
    background: #F6F6F6;
    padding: 20px 140px 40px;
    margin-bottom: 100px;
}

#login-box h2 {
    margin-bottom: 30px;
}

#login-box .global-green-button {
    display: block;
    width: 400px;
    margin: auto;
}

.login-btn {
    background-color: #028FCA !important;
}

.login-btn:hover {
    background-color: #0281b7 !important;
}

.divider {
    position: relative;
    width: 400px;
    margin: auto;
    padding: 30px 0px;
    text-align: center;
}

.divider-box {
    padding: 0px 18px;
    background: #F6F6F6;
}

.divider hr {
    margin-top: -10px;
    margin-bottom: 10px;
}

.like-share-box {
    text-align: center;
}

.fb-comments {
    display: none !important;
}

