@charset "utf-8";
/* CSS Document */

.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
    height: 200px;
}

.series-item-detail {
	color:red;
}

#category-detai-page .course-item-detail {
    margin-bottom: 15px;
}

.course-homepage {
    color: #107BBF;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

.course-homepage:hover {
    text-decoration: underline;
}

.category-detail-header {
    padding: 20px;
}

.category-detail-header .arrow {
    font-size: 18px;
    font-weight: bold;
}

#category-detai-page .course-in-category {
    padding: 20px;
    background: #F6F6F6;
    display: flex;
}

.category-detail-description {
    margin-top: 5px;
    font-size: 13px;
    line-height: 24px;
    color: #4C4C4C;
}

#course-header {
    position: relative;
    padding-bottom: 20px;
}

#course-header img {
    width: 100%;
}

.course-header-content {
    position: absolute;
    top: 40px;
    left: 400px;
    bottom: 0;
    right: 130px;
}

.course-header-content img {
    width: 100%;
}

.course-header-content p {
    font-size: 14px;
    line-height: 23px;
    color: #6f6f6f;
}

.global-green-button {
    background: #1AAF6E !important;
    border-radius: 3px;
    width: 300px;
    text-align: center;
    text-transform: inherit !important;
    margin: 20px auto 0px;
}

#categories-list {
    margin: 0px -20px;
    padding: 20px 13px 0px;
    background: #f6f6f6;
    border-bottom: 1px solid #E0E0E0;
}

.course-category-item {
    float: left;
    width: 228px;
    margin: 0px 7px 20px;
    min-height: 270px;
    box-shadow: 0px 0px 6px #D0D0D0;
    background: #fff;
    text-decoration: none;
    color: #000;
}

.course-category-item:hover .course-category-item-title {
    color: #f36d00;
}

.course-category-item:hover .course-category-item-img img {
    transform: scale(1.1);
}

.course-category-item-img {
    position: relative;
    overflow: hidden;
    height: 114px;
}

.course-category-item-img img {
    transition: transform 0.5s;
    width: 100%;
}

.course-category-item-count {
    position: absolute;
    bottom: 0;
    right: 0;
    background: #1DAFEC;
    color: #fff;
    font-size: 12px;
    line-height: 22px;
    padding: 0px 10px;
}

.course-category-item-content {
    padding: 15px;
}

.course-category-item-title {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 10px;
}

.course-category-item-description {
    font-size: 13px;
    line-height: 22px;
    color: #4C4C4C;
}

#categories-detail {
    margin: 0px -20px;
}

section {
    padding: 20px 13px;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #E0E0E0;
    background: #f6f6f6;
    position: relative;
}

.category-detail-title {
    font-size: 20px;
    line-height: 32px;
    font-weight: bold;
    padding-bottom: 20px;
    padding-left: 5px;
}

.course-item-detail {
    width: 228px;
    min-height: 270px;
    box-shadow: 0px 0px 6px #D0D0D0;
    padding: 10px;
    background: #fff;
    margin: 0px 7px;
    float: left;
    text-decoration: none;
    box-sizing: border-box;
    position: relative;
}

.course-item-detail:hover .course-item-detail-img {
    transform: scale(1.1);
}

.course-item-detail-img-box {
    overflow: hidden;
}

.course-item-detail-img {
    width: 100%;
    transition: transform 0.5s;
    float: left;
}

.course-item-detail-title {
    font-size: 14px;
    line-height: 22px;
    color: #B00000;
    font-weight: bold;
    margin-top: 10px;
    padding-bottom: 6px;
}

.course-item-detail .ucan-rating {
    margin-bottom: 10px;
}

.course-item-detail-summary {
    font-size: 13px;
    line-height: 22px;
    color: #9b9b9b;
    margin-top: 5px;
}

.course-item-detail-view-all {
    position: absolute;
    top: 30px;
    right: 20px;
    color: #4C4C4C;
    text-decoration: none;
}

.course-item-detail-view-all i {
    margin-left: 6px;
    margin-top: 4px;
    vertical-align: top;
}

#all-categories {
    padding: 0px 20px 100px;
    background: #F6F6F6;
}

.all-categories-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.category-tag-item {
    display: inline-block;
    background: #E9E9E9;
    padding: 6px 20px;
    line-height: 24px;
    border-radius: 24px;
    margin: 10px 15px 10px 0px;
    text-decoration: none;
    color: #4C4C4C;
}

.category-tag-item:hover {
    background: #cfcfcf;
}

@charset "utf-8";
/* CSS Document */

#tab1-content .global-activity-guide .icon {
    margin-left: -6px!important;
}

#tab3-content .global-activity-guide .icon {
    margin-left: 300px!important;
}

.global-activity-guide {
    margin-top: 4px!important;
    position: static!important;
}

#activity-wrapper {
    min-height: 600px;
}

#learning-dashboard {
    width: 1000px;
    overflow: hidden;
    padding-top: 20px;
    margin-bottom: 40px;
}

#flashcard-area {
    width: 529px;
    float: left;
}

#tab-step-container {
    line-height: 36px;
    display: table;
    table-layout: fixed;
    width: 1002px;
}

#tab-step-container .stage-tab {
    display: table-cell;
    width: auto;
    cursor: pointer;
}

#tab-step-container .stage-tab * {
    float: left;
}

#tab-step-container .tab-number {
    height: 24px;
    width: 24px;
    font-weight: 700;
    font-size: 18px;
    float: left;
    border-radius: 18px;
    background: #FFF;
    line-height: 20px;
    text-align: center;
    margin: 7px 10px;
}

#tab-step-container .tab-text {
    color: #FFF;
    font-weight: 700;
    float: left;
}

#audio-recorder-holder {
    position: fixed;
}

#close-flash-notice-wrapper:hover {
    opacity: 1;
}

#close-flash-notice-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 189px;
    height: 200px;
    background: url(../../blueocean/img/btn-flash-prompt.png) 14px -140px no-repeat;
    opacity: 0.9;
    cursor: pointer;
}

#btn-close-flash-notice {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 0;
    right: 0;
}

.dashboard-navigator #loadResult {
    margin-left: 300px;
}

.dashboard-navigator #next-tab {
    margin-left: 10px;
}

#tab1-guide {
    clear: both;
    margin-bottom: 20px;
    padding-left: 6px;
    color: #888;
}

#tab1-content {
    margin-left: 21px;
    display: block;
}

#tab1-content .hotkeys {
    position: relative;
    text-align: right;
    margin-left: 37px;
    float: left;
    padding: 18px 52px 14px 0;
}

#tab1-content .hotkeys .subject {
    color: #c0504d;
}

#tab1-content .hotkeys .content {
    color: #7f7f7f;
}

#tab1-content .thumb-outer {
    width: 450px;
    min-height: 100px;
    float: left;
}

#tab1-content .navigator {
    height: 45px;
    margin-top: 15px;
    margin-left: -16px;
    font: normal 17px 'Segoe UI';
    color: #7f7f7f;
}

#tab1-content .navigator .splitNextPrev {
    width: 50px;
    height: 5px;
    float: left;
}

#tab1-content .navigator .arrow-prev {
    margin-right: 10px;
    margin-left: 22px;
}

#tab1-content .thumb {
    width: 90px;
    border: 1px solid #e6e6e6;
    cursor: pointer;
    margin: 5px;
    padding: 3px;
}

#tab1-content .selected-thumb {
    border: 2px solid #646464;
    padding: 2px;
}

#tab1-content .flashcard-outer {
    margin-top: 5px;
    margin-left: 40px;
    text-align: center;
    box-shadow: 0 0 8px 1px #b7b7b7;
    -moz-box-shadow: 0 0 8px 1px #b7b7b7;
    -webkit-box-shadow: 0 0 8px 1px #b7b7b7;
    padding: 6px;
}

#tab1-content .img-main {
    max-width: 400px;
    min-width: 350px;
    cursor: pointer;
    display: none;
}

#tab1-content .button-list {
    margin: 10px 0;
}

#tab1-content .speaker,#tab1-content .stop,#tab1-content .play,#tab1-content .record,#tab1-content .btn-prev,#tab1-content .flip-card,#tab1-content .split,#tab1-content .btn-next {
    height: 30px;
    margin-left: 2px;
    cursor: pointer;
    float: right;
}

#tab1-content .img-caption {
    line-height: 35px;
    font-family: "Segoe UI";
    font-size: 22px;
    font-weight: 700;
    color: #FFF;
    height: 40px;
    background-color: #000;
    margin-top: -4px;
}

#tab1-content .speaker {
    background: url(../../blueocean/img/button-list.png) -100px no-repeat;
    width: 34px;
}

#tab1-content .record {
    background: url(../../blueocean/img/flashcard-recording-buttonlist.png) -121px 5px no-repeat;
    width: 25px;
}

#tab1-content .play {
    background: url(../../blueocean/img/flashcard-recording-buttonlist.png) -46px 5px no-repeat;
    width: 25px;
}

#tab1-content .stop {
    background: url(../../blueocean/img/flashcard-recording-buttonlist.png) 7px 5px no-repeat;
    width: 25px;
}

#tab1-content .btn-prev {
    background: url(../../blueocean/img/button-list.png) 4px 0 no-repeat;
    width: 32px;
}

#tab1-content .btn-next {
    background: url(../../blueocean/img/button-list.png) -22px 0 no-repeat;
    width: 32px;
}

#tab1-content .flip-card {
    width: 32px;
    background: url(../../blueocean/img/button-list.png) -69px 0 no-repeat;
}

#tab1-content .split {
    width: 12px;
    background: url(../../blueocean/img/button-list.png) -139px 0 no-repeat;
}

#tab1-content .word-meaning {
    color: #404040;
    display: none;
    cursor: pointer;
}

#tab1-content .word-meaning .english-meaning .subject {
    color: #548dd4;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 20px;
    text-align: left;
}

#tab1-content .word-meaning .english-meaning .english-content {
    margin-left: 20px;
    margin-right: 10px;
    text-align: justify;
}

#tab1-content .word-meaning .example {
    margin-top: 20px;
}

#tab1-content .word-meaning .example .subject {
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: underline;
}

#tab1-content .word-meaning .example .example-content {
    font: italic 12px Arial;
}

#tab1-content .title-flip-outer {
    font-weight: 700;
    font-size: 28px;
    padding-top: 15px;
    text-align: center;
}

#tab1-content .word-type {
    color: #7f7f7f;
    font-size: 14px;
    font-weight: 400;
}

#tab1-content .word-phonetic {
    padding-top: 7px;
    font-size: 16px;
}

#tab1-content .vietnamese-meaning,.example {
    margin-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

#tab1-content .vietnamese-meaning {
    color: #f5750c;
    font-size: 16px;
    font-weight: 700;
    margin-top: 15px;
}

#tab2-content {
    display: none;
}

#word-container {
    width: 200px;
    min-height: 300px;
    margin-left: 21px;
}

#picture-container {
    width: 750px;
    margin-top: 10px;
}

#picture-container .correct-icon,#picture-container .incorrect-icon {
    width: 70px;
    position: absolute;
    margin: 20px 59px;
}

#picture-container .incorrect-background,#picture-container .correct-background {
    width: 180px;
    position: absolute;
    padding-top: 20px;
    opacity: 0.4;
    background-color: #000;
}

#tab2-content .word {
    font-size: 16px;
    cursor: move;
    line-height: 22px;
    margin-top: 10px;
}

#tab2-content .picture {
    width: 180px;
    margin-right: 4px;
}

#tab2-content .caption-background {
    width: 180px;
    height: 40px;
    margin-top: -40px;
    opacity: 0.82;
    position: absolute;
    background-color: #151515;
    z-index: 10;
    display: none;
    text-align: center;
}

#tab2-content .caption-text {
    cursor: move;
    color: #FFF;
    font: bold 20px 'Segoe UI';
    z-index: 12;
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 3px;
}

#tab2-content .navigator {
    width: 737px;
    height: 45px;
    font: normal 17px 'Segoe UI';
    color: #7f7f7f;
    float: right;
    text-align: center;
    margin: 25px 5px;
}

#tab2-content .navigator .result {
    font: normal 23px 'Segoe UI';
    color: #000;
    margin-top: -5px;
    display: none;
}

#tab2-content .btn-check,#tab2-content .btn-answer,#tab2-content .btn-redo {
    height: 38px;
    width: 87px;
    margin-top: -8px;
    cursor: pointer;
}

#tab2-content .number-correct {
    font-weight: 700;
    color: red;
}

#tab2-content .btn-check {
    background: url(../../blueocean/img/flashcard-checkanswer-active.png) 11px 5px no-repeat;
}

#tab2-content .btn-check:hover {
    background: url(../../blueocean/img/flashcard-checkanswer-hover.png) 11px 5px no-repeat;
}

#tab2-content .btn-answer {
    background: url(../../blueocean/img/flashcard-checkanswer-active.png) -73px 5px no-repeat;
}

#tab2-content .btn-answer:hover {
    background: url(../../blueocean/img/flashcard-checkanswer-hover.png) -73px 5px no-repeat;
}

#tab2-content .btn-redo {
    background: url(../../blueocean/img/flashcard-checkanswer-active.png) -157px 5px no-repeat;
}

#tab2-content .btn-redo:hover {
    background: url(../../blueocean/img/flashcard-checkanswer-hover.png) -157px 5px no-repeat;
}

#tab2-content .navigator .splitNextPrev {
    width: 50px;
    height: 5px;
}

#tab2-content .navigator .arrow-prev {
    margin-right: 10px;
}

#tab3-content {
    display: none;
    margin-bottom: 20px;
}

#tab3-result-container {
    width: 220px;
    font-weight: 700;
    margin: 20px 20px 20px 40px;
}

#tab3-result-container .try-again {
    background: url(../../blueocean/img/flashcard-tab3-redo.png) no-repeat;
    width: 263px;
    height: 33px;
    opacity: 0;
    margin-top: 20px;
    clear: both;
    text-align: center;
    line-height: 34px;
    color: #FFF;
}

#tab3-result-container .try-again:hover {
    cursor: pointer;
    background: url(../../blueocean/img/flashcard-tab3-redo-hover.png) no-repeat;
}

#tab3-content .result-title-bar {
    color: #FFF;
    height: 40px;
    font-size: 20px;
    padding-left: 20px;
    line-height: 40px;
}

#tab3-content .result-content-outer {
    box-shadow: 0 2px 4px #e3e3e3;
    -moz-box-shadow: 0 2px 4px #e3e3e3;
    -webkit-box-shadow: 0 2px 4px #e3e3e3;
}

#tab3-content .remain,#tab3-content .correct,#tab3-content .incorrect {
    border-bottom: 1px solid #eaeaea;
    color: #000;
    height: 28px;
    padding: 20px;
}

#tab3-content .remain .text,#tab3-content .correct .text,#tab3-content .incorrect .text {
    float: left;
    line-height: 30px;
    font-size: 16px;
}

#tab3-content .remain .number,#tab3-content .correct .number,#tab3-content .incorrect .number {
    font-size: 28px;
    margin-top: -6px;
}

#tab3-content .remain .number {
    color: #0070c0;
}

#tab3-content .correct .number {
    color: #00b050;
}

#tab3-content .incorrect .number {
    color: #c00000;
}

#tab3-main-board {
    margin-top: 20px;
    margin-left: 80px;
}

#tab3-main-board .img-wrapper .img-main {
    min-width: 250px;
    max-width: 450px;
    display: none;
    border: 7px solid #FFF;
    box-shadow: 0 0 7px 2px #bfbfbf;
    -moz-box-shadow: 0 0 7px 2px #bfbfbf;
    -webkit-box-shadow: 0 0 7px 2px #bfbfbf;
}

#tab3-main-board .img-wrapper .true-false-icon,#tab3-main-board .img-wrapper .false-icon {
    position: absolute;
    width: 108px;
    height: 108px;
    opacity: 0;
}

#tab3-main-board .img-outer {
    padding: 5px;
}

#tab3-main-board .user-input {
    height: 38px;
    background-color: #e8e8e8;
    margin-top: 25px;
    position: relative;
    padding: 14px;
}

#tab3-main-board .listen-again {
    cursor: pointer;
    height: 37px;
    width: 36px;
    position: relative;
    margin-left: 7px;
    margin-top: 1px;
    background: url(../../blueocean/img/flashcard-tab3-listenagain.png) no-repeat center;
}

#tab3-main-board .show-answer {
    position: absolute;
    cursor: pointer;
    right: -51px;
    width: 32px;
    height: 32px;
    border-radius: 10px;
    top: 14px;
    background: url(../../blueocean/img/flashcard-help-tab3.png) center no-repeat;
}

#tab3-main-board .listen-again:hover {
    opacity: 0.8;
}

#tab3-main-board .user-input .textbox {
    box-shadow: inset 0 16px 30px -21px #d9d9d9;
    -moz-box-shadow: inset 0 16px 30px -21px #d9d9d9;
    -webkit-box-shadow: inset 0 16px 30px -21px #d9d9d9;
    border: 1px solid #E0E0E0;
    height: 35px;
    font-size: 22px;
    font-family: 'Segoe UI';
    position: relative;
    text-align: center;
}

#tab3-main-board .answer-board {
    display: none;
    position: absolute;
    background-color: #f5770f;
    height: 56px;
    color: #FFF;
    margin-top: -66px;
    margin-left: 7px;
    text-align: center;
}

#tab3-main-board .answer-board .answer-text {
    width: 100%;
    font-size: 22px;
    font-weight: 700;
    margin-top: 1px;
    margin-bottom: 4px;
}

#tab3-main-board .answer-board .orange-arrow {
    height: 16px;
    width: 19px;
    background: url(../../blueocean/img/flashcard-tab3-orange-fullarrow.png) no-repeat;
    margin: 2px auto 0;
}

.global-orange-bar,#tab-step-container .global-blue-bar,#tab-step-container .global-green-bar {
    width: auto;
}

#tab1-content .hotkeys *,#tab2-content .next-group,#tab2-content .prev-group {
    text-transform: lowercase;
}

#tab1-content .navigator .arrow-next,#tab2-content .navigator .arrow-next {
    margin-right: 36px;
    margin-left: 10px;
}

#tab1-content .next-group:hover,#tab1-content .prev-group:hover,#tab2-content .next-group:hover,#tab2-content .prev-group:hover {
    cursor: pointer;
    color: #494949;
}

/* lecture.css */
#front-content {
    padding: 0px 0px 20px 0px !important;
    margin-top: 0px !important;
    width: 1000px !important;
    line-height: 24px;
}

#course-info {
    background: #FAFAFA;
    border-bottom: 1px solid #E8E8E8;
    padding: 20px 20px 10px 20px;
    -webkit-box-shadow: inset 0px -1px 20px 0px #F0F0F0;
    -moz-box-shadow: inset 0px -1px 20px 0px #F0F0F0;
    -o-box-shadow: inset 0px -1px 20px 0px #F0F0F0;
    -ms-box-shadow: inset 0px -1px 20px 0px #F0F0F0;
    box-shadow: inset 0px -1px 20px 0px #F0F0F0;
}

#course-info h3 {
    font-size: 20px;
    font-weight: normal;
    margin: 0px;
    font-weight: bold;
}

#course-info a {
    color: #F37D1D;
}

#course-lectures {
    margin: 20px;
    padding: 20px;
    background: #F6F6F6;
}

.lecture {
    display: table;
    padding: 0px 0px 0px 10px;
    border: 1px solid #E8E8E8;
    background: white;
    margin-bottom: 30px;
    -webkit-box-shadow: inset 0px -5px 20px 0px #F0F0F0;
    -moz-box-shadow: inset 0px -5px 20px 0px #F0F0F0;
    -o-box-shadow: inset 0px -5px 20px 0px #F0F0F0;
    -ms-box-shadow: inset 0px -5px 20px 0px #F0F0F0;
    box-shadow: inset 0px -5px 20px 0px #F0F0F0;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}

.lecture:hover {
    background: #FAFAFA;
    -webkit-box-shadow: inset 0px -5px 20px 0px #EAEAEA;
    -moz-box-shadow: inset 0px -5px 20px 0px #EAEAEA;
    -o-box-shadow: inset 0px -5px 20px 0px #EAEAEA;
    -ms-box-shadow: inset 0px -5px 20px 0px #EAEAEA;
    box-shadow: inset 0px -5px 20px 0px #EAEAEA;
    cursor: pointer;
}

.lecture-item {
    display: table-cell;
    vertical-align: top;
    padding: 10px 0px 10px 0px;
}

.lecture-content {
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #E8E8E8;
    width: 630px;
}

.lecture-statistics {
    width: 120px;
    text-align: center;
    font-size: 30px;
    border-right: 1px solid #F0F0F0;
    padding: 0px !important;
    font-weight: bold;
}

.lecture-progress {
    height: 39px;
    border-bottom: 1px solid #F0F0F0;
    padding-top: 8px;
    color: #008CD2;
}

.lecture-score {
    height: 40px;
    padding-top: 8px;
    color: #B00000;
}

.go-to-lecture, .start-lecture {
    vertical-align: middle !important;
    text-align: center;
}

.go-to-lecture {min-width: 100px;}
.start-lecture {min-width: 100px;}

.start-lecture {
    border-right: 1px solid #E8E8E8;
}

.lecture-content h4 {
    margin-top: -6px;
    margin-bottom: 0px;
    color: #F0730D;
}

.lecture-content p {
    margin-top: 6px;
    margin-bottom: 0px;
    color: #666666;
}

.lecture-img {
    width: 150px;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #E8E8E8;
    clip: rect(0px, 100px, 75px, 0px);
}

#all-lectures {
    padding-left: 20px;
    font-size: 20px;
    font-weight: normal;
}

#all-courses {
    color: #008CD2 !important;
    text-decoration: none;
}

#all-courses:hover {
    text-decoration: underline;
}

.go-to-lecture a {
    text-decoration: none;
}

.lecture-order {
    width: 130px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    border-right: 1px solid #E8E8E8;
    line-height: 30px;
    padding-top: 0px;
}

.course-lesson-number-label {
    font-size: 16px;
}

.course-lesson-number {
    font-size: 32px;
    color: #B00000;
}

.arrow-gt {
    font-weight: normal;
    font-size: 120%;
    line-height: 0px;
    margin-left: 2px;
    margin-right: 2px;
}

.frontend-green-button, .frontend-blue-button {
    padding: 8px 12px !important;
    font-size: 14px !important;
}

.start-lecture a {
    text-decoration: none;
}

.lecture-title:hover {
    text-decoration: underline;
}

.lecture:hover .lecture-title {
    text-decoration: underline;
}

#write-your-reviews {
    color: white !important;
    font-size: 16px !important;
    float: right;
    text-decoration: none;
    margin-top: -64px;
}

.banner-group-1 {
    padding: 20px 20px 15px;
    border-bottom: 1px solid #E8E8E8;
}

.banner-group-2 {
    padding: 20px 20px 0px;
    border-top: 1px solid #E8E8E8;
}

